/* PAGES - 상품문의 페이지
   ========================================================================== */

#page-inquiry-prdt-list-wrap {
  .table-area {
    @include set-relative;

    padding: 20px 10px 90px;

    .search-default-bar {
      margin-bottom: 30px;
    }

    .search-status-bar {
      margin: 25px 0 13px;
    }

    .search-status-bar.mt-0 {
      margin-top: 0;
    }

    .search-status-bar.type-last {
      margin-top: 8px;
    }

    .nothing-history {
      padding: 60px 0;
    }
  }

  .search-option-check-group {
    .in-check-list > * {
      min-width: 80px;
    }
  }

  .tbl-default {
    .ta-right {
      padding-right: 20px;
    }
    td i {
      letter-spacing: 0.1px;
      padding: 0 4px;
    }
  }

  .btn-gray {
    @include hover-eft {
      background-color: $primary-color;
    }

    &:active {
      background-color: darken($primary-color, 5%);
    }
  }

  .pager-wrap {
    bottom: 20px;
  }
}

#page-inquiry-prdt-detail-wrap {
  .panel-default {
    margin-bottom: 130px;
  }
  .date-product-md {
    padding: 28px 10px 28px 80px;
    min-width: auto;
    .in-thumb {
      left: 0px;
    }
    .in-word {
      -webkit-line-clamp: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
  .in-text-200 {
    min-height: 200px;
  }
  ._editor {
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-lighter;
  }
}

//리스트 반응형 모바일 화면
@include media-mobile-version(ipad) {
  #page-inquiry-prdt-list-wrap {
    .panel-default {
      min-height: calc(100vh - 0px - 50px - 100px);
      padding: 0px;
    }

    .choice-status-bar .in-choice-wrap {
      height:auto;
      padding: 42px 0px 0px 13px;
    }
  }

  #page-inquiry-prdt-list-wrap .table-area {
    .search-default-bar {
      margin-bottom: 0;
    }

    .search-status-bar{
      margin: 13px 0px;
      text-align:center;
    }

    .choice-status-bar {
      margin: 0;
      border-bottom: 1px solid #f0f0f0;
      padding: 0px;
    }

    .choice-status-bar .in-choice-all {
      margin: 0px 12px 6px;
    }

    .choice-status-bar .in-button-group {
      right: 12px;
      top:auto;
      bottom:10px;
      transform:none;
    }

    .choice-status-bar .rounded-square-xs-btn {
      box-shadow: none;
    }
  }
}

//디테일페이지 반응형 모바일화면
@include media-mobile-version(galaxy-tab) {
  #page-inquiry-prdt-detail-wrap {
    .panel-default {
      margin: 0px;
    }
  }
  .mobile-detail-list {
    .content-divide-line {
      border-bottom: 1px solid $gray-lighter;
      padding: 20px 0px;
      &:last-of-type {
        border: 0px none;
      }
      ._tit {
        @include font($s: 13px, $c: $gray-md-03);

        margin: 0px 0px 10px;
      }
      ._txt {
        @include font($s: 13px, $c: $gray);
      }
    }
    .user-info {
      ._tit {
        float: left;
        margin: 0px 0px 4px;
      }
      ._txt {
        float: right;
      }
    }
    .product-name {
      ._txt {
        @include font(15px, 600, $primary-color);
      }
    }
    .user-question {
      ._txt {
        font-size: 14px;
      }
    }
    .my-answer {
      .in-answer {
        border: 1px solid $gray-light-01;
        border-radius: 7px;
        min-height: 355px;
        padding: 20px;
        font-size: 14px;
      }
    }
    .date-product-md {
      padding: 15px 10px 15px 60px;
      .in-thumb {
        width: 50px;
        height: 50px;
      }
    }
  }
}
