@import '../../../../static/stylesheets/Root.scss';

.container{
    @include container($pd-top);
    .input-area{
        padding: 0 $padding;
        .cur-area{
            padding-top: 24px;
        }
        .new-area{
            padding-top: 40px;
        }
        .confirm-area{
            padding-top: 12px;
        }
        .text-area{
            padding-top: 8px;
            height: 0px;
            font-size: 1.167rem; // 14px;
            font-weight: 400; // Regular
            transition: all 0.15s ease-in-out;
            .success{
                color: #2966B4;
            }
            .failure{
                color: #953120;
            }
        }
    }
}