@import '../../static/stylesheets/Root.scss';

.container{
    padding: $padding;

    @include container($pd-top);

    .select-wrapper{
        position: relative;
        width: 100%;
        height: 48px;
        margin: 16px 0 18px;

        .select{
            width: 100%;
            height: 100%;
            border: 1px solid #EBEBEB;
            background-color: #FFF;
            padding: 0 14px;
            color: #333;
            font-size: 1.25rem; // 15px;
            font-weight: 400; // Regular
        }

        & > svg{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
        }
    }

    .img-wrapper{
        margin-top: 44px;

        .title{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
            color: #222222;
        }

        .imformation{
            height: 16px;

            .sub-title{
                display: inline-block;
                vertical-align: top;
                margin-left: 8px;
                font-size: 1rem;
                font-weight: 400;
                color: #777;
            }
        }
        // 차량 정보 등록
        .button {
            width: 100%;
            height: 48px;
            margin-top: 18px;
            text-align: center;
            border: 1px solid #dbdbdb;
            margin-bottom: 12px;
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                .button-text{
                    display: flex;
                    align-items: center;
                    .plus {
                        font-size: 24px;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                    .plus-text{
                        color: #222222;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        .input-files {
            display: none;
        }
        .file-list {
            display: flex;
            overflow-x: auto;
            padding-top: 8px;
            .file-item {
                position: relative;
                display: inline-block;
                width: 88px;
                height: 88px;
                margin-left: 10px;
                .file-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                .file-delete {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    margin: 0;
                    top: -6px;
                    right: -6px;
                    background-color: #fff;
                    border: solid 1px #DBDBDB;
                }
            }
        }
    }
}

// html{
//     body{
//         .container{
//             .img-wrapper{
//                 .button{
//                     width: 100%;
//                     height: 48px;
//                     margin-top: 18px;
//                     border: 1px solid #EBEBEB;
//                     font-size: 14px;

//                     .plus{
//                         font-size: 24px;
//                         margin-right: 5px;
//                         position: relative;
//                         transform: translateY(-5%);
//                     }
//                 }
//             }
//         }
//     }
// }