@import '../../static/stylesheets/Root.scss';

.container {
    @include container($pd-top);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../static/asset/png/auth_background.png');
    overflow: hidden;

    .logo {
        height: 275px;
        margin-bottom: 115px;

        & > svg {
            width: 230px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & > button {
        position: absolute;
        top: $padding;
        right: $padding;
    }

    .background {
        & > img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            vertical-align: bottom;
            width: 100%;
        }
    }

    .area {
        position: absolute;
        width: 100%;
        left: 0; bottom: 60px;
        padding: 41px $padding 0;
        border: none;

        .button {
            width: 100%;
            border: none;
            border-radius: 100px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            font-size: 1.25rem;
            margin-bottom: 12px;

            & > svg {
                vertical-align: baseline;
                margin-right: 12px;
            }
        }
    }

    & > img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
}
