/* mymenu01 */
.mymenu__ntc-view {
    font-size: 0.9em;
    font-weight: 400;
    color: #000000;
    height: calc(100% - 59px);
    padding-bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 20px;
    line-height: 1.6;
}

@media (max-width: 576px) {
    .mymenu__ntc-view {
    height: calc(100% - 55px);
    }
}
/* end mymenu01 */