@import '../../../static/stylesheets/Root.scss';

.container{
    // @include container(0px);
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    .fixed{
        max-width: $max-width;
        min-width: $min-width;
        width: 100%;
        height: 196px;
        position: fixed;
        z-index: 1000;
        .show-area{
            position: relative;
            width: 100%; height: 100%;
            background: url(../../../static/asset/png/point_background.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .button{
                padding-top: $pd-top;
                height: 96px;
                position: relative;
                .btn{
                    display: block;
                }
                svg{
                    position: absolute;
                    right: $padding;
                    width: 12px; height: 12px;
                    g{
                        line{
                            stroke: #fff;
                            stroke-width: 2;
                        }
                    }
                }
            }
            .content{
                position: absolute;
                bottom: 35px;
                padding: 0 $padding;
                color: white;
                .mypoint{
                    font-size: 1.333rem; // 16px;
                    font-weight: 400; // Regular
                }
                .total_point{
                    margin-top: 10px;
                    font-size: 2.667rem; // 32px;
                    font-weight: bold;
                }
            }
            .withdraw{
                width: 80px; height: 32px;
                position: absolute;
                bottom: 38px; right: $padding;
                color: #fff;
                background-color: inherit;
                font-size: 1.167rem; // 14px;
                font-weight: 500; // Medium
                border: 1px solid #C9C9C9;
                border-radius: 24px;
            }
        }
    }
    .point-area{
        padding-top: 196px;
        padding-bottom: 80px;
        .point-text{
            max-width: $max-width;
            min-width: $min-width;
            padding: 0 $padding;
            background-color: #FFF;
            width: 100%;
            padding-top: 32px; margin-bottom: 25px;
            font-size: 1.5rem; // 18px;
            font-weight: bold;
            position: fixed;
            z-index: 1000;
            .under-line{
                padding-top: 22px;
                border-bottom: 1px solid #E9EBED;
            }
        }
        & > ul {
            padding-top: 101px;
        }
    }
}

.point-item{
    padding: 0 $padding;
    .point-wrap{
        width: 100%; height: 80px;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
        display: flex;
        position: relative;
        .status-text{
            width: 40px; height: 20px;
            border-radius: 10px;
            font-size: $font-size;
            font-weight: bold;
            text-align: center;
            line-height: 20px;
            margin: 14px 0 0 16px;
            &.plus{
                color: #2966B4;
                border: 1px solid #2966B4;
            }
            &.minus{
                color: #953120;
                border: 1px solid #953120;
            }
        }
        .time{
            padding-left: 10px;
            margin-top: 18px;
            font-size: $font-size;
            font-weight: 400; // Regular
            color: #777;
        }
        .text{
            position: absolute;
            bottom: 15px;
            margin-left: 16px;
            font-size: 1.333rem; // 16px;
            font-weight: bold;
            color: #222;
            &>span{font-weight: 400}
        }
        .point{
            font-size: 1.5rem; // 18px;
            font-weight: bold;
            line-height: 80px;
            position: absolute;
            right: 16px;
            &.plus{ color: #2966B4; }
            &.minus{ color: #555; }
        }
    }
    & + &{
        margin-top : 28px;
    }
}

.withdraw-container{
    display: block;
    position: fixed;
    width: 100%; height: 326px;
    background-color: #FFF;
    border-radius: 10px 10px 0 0;
    top: 100%;
    z-index: 1300;
    padding: 0 $padding;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    .withdraw-wrap{
        margin-top: 32px;
        .withdraw-text{
            font-size: 1.5rem; // 18px;
            font-weight: bold;
            color: #222;
        }
    }
    .account-wrap{
        margin-top: 14px;
        .account-text{
            font-weight: bold;
            color: #999;
        }
        .account-area{
            width: 100%;
            display: flex;
            margin-top: 8px;
            .account-select{
                width: 36%; height: 48px;
                position: relative;
                .select{
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                    border: 1px solid #EBEBEB;
                    padding: 0 14px;
                    color: #333;
                    font-size: 1.333rem; // 16px;
                    font-weight: 400; // Regular
                }
                & >svg{
                    position: absolute;
                    top: 50%; right: 10px;
                }
            }
            .account-text{
                margin-left: 10px;
                width: 64%; height: 48px;
                & > input{
                    border: 1px solid #EBEBEB;
                    background-color: #FFF;
                    width: 100%; height: 100%;
                    transition-property: border;
                    transition-duration: 0.15s;
                    transition-timing-function: ease-in-out;
                    &:focus {
                        border-color: #222;
                    }
                }
            }
        }
    }
    .price-wrap{
        margin-top: 22px;
        .price-text{
            font-weight: bold;
            color: #999;
        }
        .price-area{
            margin-top: 8px;
            width: 100%; height: 48px;
            display: flex;
            align-items: center;
            & > input{
                margin-bottom: 0;
                border: 1px solid #EBEBEB;
                background-color: #FFF;
                width: 100%; height: 100%;
                transition-property: border;
                transition-duration: 0.15s;
                transition-timing-function: ease-in-out;
                &:focus {
                    border-color: #222;
                }
            }
            & > span{
                margin-left: 12px;
                color: #333;
                font-size: 1.333rem; // 16px;
                font-weight: 500; // Medium
            }
        }
    }
    &.on{
        transform: translateY(-100%);
    }
}

.non-qna{
    width: 100%;
    height: calc(100vh - 196px - 101px);
    .non-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        // height: calc(100% - 96px);
        .explain{
            font-size: 1.333rem; // 16px;
            font-weight: 400; // Regular
            color: #222;
            margin-top: 28px;
        }

    }
}