@charset "UTF-8";
@import "../utils/_variable.scss";
@import "../utils/_path.scss";
@import "../utils/_mixin.scss";

/* 
    --------------------------------------------------------------------
            * input_style component *
            // style-01 진한보라
            // style-02 연한보라
            // style-03 큰체크
    --------------------------------------------------------------------
*/

input.input-style {
  &-01,
  &-02,
  &-03 {
    display: none;
  }

  &-01 + label:before,
  &-02 + label:before,
  &-03 + label:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.1s;
    background-image: url($ui-path-img-icon+"checkbox-outline.svg");
  }

  &-03 + label:before {
    background-image: url($ui-path-img-icon+"checkbox-purple-check-after.svg");
    width: 43px;
    height: 43px;
  }

  &-01:checked + label:before {
    background-image: url($ui-path-img-icon+"checkbox-purple.svg");
  }

  &-02:checked + label:before {
    background-image: url($ui-path-img-icon+"checkbox-lighten-purple.svg");
  }

  &-03:checked + label:before {
    background-image: url($ui-path-img-icon+"checkbox-purple-check-before.svg");
  }
}
