@charset "UTF-8";
@import "../utils/_variable.scss";
@import "../utils/_path.scss";
@import "../utils/_mixin.scss";

/* 
    --------------------------------------------------------------------
            * producer-card component *
    --------------------------------------------------------------------
*/

// 프로듀서 썸네일, 이름, 좋아요-팔로우-구매수 카드

.producer-card {
  width: 215px;
  display: inline-block;

  &-thumbnail {
    width: 100%;
    height: 214px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      background: linear-gradient(35deg, rgba(0, 0, 0, 0.35), transparent);
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &-name {
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    padding: 0 0.3em;
    height: 1.8em;
    overflow: hidden;
    margin: 0.6em 0;
    line-height: 1.6;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    font-weight: 400;
  }

  &-ranking {
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &-summing_up {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 10px;

    li {
      text-align: center;
      font-size: 14px;
      font-weight: 100;
    }

    li:nth-child(2) {
      padding: 0 17px;
    }

    li b {
      color: #bc9bff;
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      margin-bottom: 7px;
    }

    li em {
      color: #fff;
      position: relative;
      display: block;
    }

    li:first-child em {
      padding-left: 14px;

      &:before {
        content: "";
        background-image: url($G-path-img-btn+"like-heart-purple.svg");
        position: absolute;
        left: -10px;
        top: -2px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
      }
    }
  }
}

// 서브페이지 프로듀서 썸네일, 이름, 좋아요-팔로우-구매수 카드

.sub-section .producer-card {
  &-thumbnail {
    box-shadow: none;

    &:before {
      display: none;
    }
  }

  &-name {
    color: #333;
    font-weight: bold;
  }

  &-summing_up {
    background-color: #f9f9f9;

    em {
      color: #333;
      font-weight: 500;
    }
  }
}
