@import '../../static/stylesheets/Root.scss';

.bottom-modal {
    display: block;
    position: fixed;
    max-width: $max-width;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100%;
    z-index: $level1;
    width: 100%;
    padding: 20px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    &.on {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .title{
        font-size: 1.5rem;
        font-weight: bold;
        color: #222222;
        margin: 4px 0 18px;
    }

    .attribute-wrapper{
        margin-bottom: 10px;
        .attribute{
            font-size: 1.16rem;
            font-weight: bold;
            color: #AAAAAA;
            display: inline-block;
        }

        .value{
            font-size: 1.16;
            color: #777777;
            float: right;
        }

        .black{
            font-size: 1.5rem;
            font-weight: bold;
            color: #333333;
        }
    }

    .button-area{
        padding-top: 20px;
    }
}

html {
    body {
        .dim {
            z-index: $level2;
        }
    }
}
