$purple: #A134E8;
$purple2: #734d8b; //메뉴
$purple_dark: #9677aa; //알럿
$purple_gray: #c3afcd; //등록된 00가 없습니다.
$red: #ff5656;
$blue: #3482e8;
$white: #ffffff;
$black: #333333;
$dark: #969696;
$topmenu: #444444;
$gray: #787878; // 제품 세부사항, 인기검색어, 푸터 흐린글씨
$gray2: #636363; // 가격하단 #색
$gray3: #8a8a8a;
$gray4: #707070;
$light_gray: #aaaaaa; // 원가색
$light_gray2: #c8c8c8;
$light_gray3: #ececec;
$light_gray4: #dbdbdb; // 컨텐츠 타이틀 옆 페이저
$light_gray5: #fafafa;
$light_gray6: #f0f0f0;
$light_gray7: #b4b4b4;
$light_gray8: #f9f9f9;
$profill_bd: #F5F5F5;
$ft_text: #736678;
// benner color
$beige: #ac9e98;
$ocher: #887d78;
// icon color
$star: #ffd600;
$pink: #fc4ead;
$pink2: #ff7ab0; //품절상태

//path
$path-font: "/font/";
$path-images: "/images/";
$path-img: "/images/img/";
$path-btn: "/images/btn/";
$path-badge: "/images/badge/";
$path-icon: "/images/icon/";
$path-logo: "/images/logo/";

// font size
$px-10: 0.625;
$px-11: 0.688;
$px-12: 0.75;
$px-13: 0.813;
$px-14: 0.875;
$px-15: 0.938;
$px-16: 1;
$px-17: 1.063;
$px-18: 1.125;
$px-19: 1.188;
$px-20: 1.25;
$px-21: 1.313;
$px-22: 1.375;
$px-23: 1.438;
$px-24: 1.5;
$px-26: 1.625;
$px-27: 1.688;
$px-28: 1.75;
$px-30: 1.875;
$px-31: 1.938;

$f-09: 0.563em;
$f-10: 0.625em;
$f-11: 0.688em;
$f-12: 0.75em;
$f-13: 0.813em;
$f-14: 0.875em;
$f-15: 0.938em;
$f-16: 1em;
$f-17: 1.063em;
$f-18: 1.125em;
$f-19: 1.188em;
$f-20: 1.25em;
$f-21: 1.313em;
$f-22: 1.375em;
$f-23: 1.438em;
$f-24: 1.5em;
$f-26: 1.625em;
$f-27: 1.688em;
$f-28: 1.75em;
$f-30: 1.875em;
$f-31: 1.938em;
