#Server
PORT=8080

#Infura
INFURA_MAINNET=
INFURA_TESTNET=

#Local Database
DB_HOST_LOCAL=
DB_USER_LOCAL=
DB_NAME_LOCAL=
DB_PASS_LOCAL=

#Exchange Database
DB_HOST_EXCHANGE=
DB_USER_EXCHANGE=
DB_NAME_EXCHANGE=
DB_PASS_EXCHANGE=

#Ethereum
ADMIN_ADDRESS=
ADMIN_PRIVATE=
MINIMUM_ETHER_AMOUNT_TO_DEPOSIT=0.01
MINIMUM_TOKEN_AMOUNT_TO_DEPOSIT=0.00000001
WITHDRAW_CONFIRM_COUNT=1
DEPOSIT_CONFIRM_COUNT=6