/*
    ----------------- 
        path
    ----------------- 
*/

$G-path-img: "../../img/";
$G-path-img-btn: "../../img/btn/";
$G-path-img-icon: "../../img/icon/";

$ui-path-img: "../img/";
$ui-path-img-btn: "../img/btn/";
$ui-path-img-icon: "../img/icon/";
