@charset "UTF-8";
/* 
    ----------------- 
        color 
    -----------------
*/
/* 
    ----------------- 
        unit 
    -----------------
*/
/* 
    ----------------- 
        array 
    -----------------
*/
/*
    ----------------- 
        path
    ----------------- 
*/
/* 
    ----------------- 
        mixin 
    -----------------
*/
/* 
    --------------------------------------------------------------------
            * sub_page_form_style component *
            //입력패널 및 입력폼 스타일
    --------------------------------------------------------------------
*/
.sub-page-form-panel {
  max-width: 600px;
  border-radius: 30px;
  border: 1px solid #cccccc;
  padding: 40px 30px;
  margin: 0 auto;
}

.sub-page-form-panel .in-title {
  font-size: 18px;
  padding: 0;
}

.sub-page-form-panel .in-title h3 {
  font-weight: 400;
}

.sub-input_form {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.sub-input_form._mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-input_form._mail input {
  width: 45%;
}

.sub-input_form._mail span {
  width: 5%;
  line-height: 45px;
  color: #727272;
  font-size: 20px;
}

.sub-input_form._mail select {
  border: 0;
  border-bottom: 1px solid #cccccc;
  padding: 0.25rem 0.5rem;
  height: 45px;
  width: 100%;
  outline: none;
  width: 50%;
}

.sub-input_form._mail select:focus {
  border-color: #7e2aff;
}

.sub-input_form input {
  border: 0;
  border-bottom: 1px solid #cccccc;
  padding: 0.25rem 0.5rem;
  height: 45px;
  width: 100%;
  outline: none;
}

.sub-input_form input:focus {
  border-color: #7e2aff;
}

.sub-input_form._pw-alert:after {
  content: "";
  width: auto;
  height: auto;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 5px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
}

.sub-input_form._pw-alert-able:after {
  content: "비밀번호가 일치합니다.";
  color: rgba(106, 126, 255, 0.8);
}

.sub-input_form._pw-alert-able input {
  border-color: rgba(106, 126, 255, 0.8);
}

.sub-input_form._pw-alert-disable:after {
  content: "비밀번호가 일치하지 않습니다.";
  color: rgba(255, 103, 103, 0.8);
}

.sub-input_form._pw-alert-disable input {
  border-color: rgba(255, 103, 103, 0.8);
}

.btn-certify {
  border-radius: 5px;
  line-height: 50px;
  height: 50px;
  background-color: #cccccc;
  color: #fff;
  font-size: 1.1rem;
  width: 160px;
  display: block;
  margin-right: auto;
}

.btn-certify:hover {
  background-color: #b3b3b3;
}

.btn-certify-mini {
  border-radius: 5px;
  line-height: 47px;
  height: 47px;
  background-color: #cccccc;
  color: #fff;
  font-size: 1.1rem;
  width: 100px;
  margin: auto;
}

.btn-certify-mini:hover {
  background-color: #b3b3b3;
}

.btn-certify-mini:hover {
  background-color: #333333;
}

.btn-certify.active {
  border-radius: 5px;
  line-height: 50px;
  height: 50px;
  background-color: #7e2aff;
  color: #fff;
  font-size: 1.1rem;
}

.btn-certify.active:hover {
  background-color: #6100f6;
}

.btn-certify:hover {
  background-color: #333333;
}
/*# sourceMappingURL=sub_page_form_style.css.map */