@import '../../../static/stylesheets/Root.scss';

.container{
    padding: $padding;

    @include container($pd-top);

    .comment{
        font-size: 1.16rem;
        color: #333333;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .input-wrapper{
        margin-bottom: 20px;

        .input-title{
            font-size: 1.16rem;
            font-weight: bold;
            color: #999999;
            margin-bottom: 9px;
        }

        .password-check{
            color: #953120;
            display: none;
        }

        .apear{
            display: block;
        }

        .same{
            color: #2966B4;

            & > span{
                display: none;
            }
        }
    }
}