@import '../../../static/stylesheets/Root.scss';

.container{
    padding: $padding;

    @include container($pd-top);

    .title{
        font-size: 1.16rem;
        color: #999999;
        margin-top: 28px;
        margin-bottom: 8px;
    }
}