@import '../../../static/stylesheets/Root.scss';

.container {
    @include container($header);
    .list {
        padding: 24px;
        .item {
            display: block;
            width: 100%;
            .content {
                width: 100%;
                .banner-image {
                    width: 100%;
                }
            }
        }
    }
    .non-qna{
        width: 100%;
        height: calc(100vh - 60px);
        .non-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            .explain{
                font-size: 1.333rem; // 16px;
                font-weight: 400; // Regular
                color: #222;
                margin-top: 28px;
            }
        }
    }
}

.item {
    & + & {
        margin-top: 16px;
    }
}