/* 
CONPONENTS - input
 */
//checked label design
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dg-input-checkbox_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 9px;
  width: 21px;
  height: 21px;
  margin: 3px 5px 3px 0px;
  border-radius: 50%;
  border: 1px solid $light_gray2;
  background-color: white;
}
.dg-input-checkbox:checked + .dg-input-checkbox_label {
  background: linear-gradient(
    to bottom,
    rgba(161, 52, 232, 1) 0%,
    rgba(252, 78, 173, 1) 100%
  );
  border: 1px solid transparent;
}
.dg-input-checkbox:checked + .dg-input-checkbox_label:after {
  content: "";
  display: block;
  position: absolute;
  top: 28.3%;
  left: 26.4%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $white;
}
.dg-input-checkbox_text {
  display: inline-block;
  font-size: $f-13;
  color: $gray;
  cursor: pointer;
}

// 양식 작성하기 영역
.dg-write_form {
  position: relative;
  .dg_write > label {
    display: block;
    font-size: 0.75em;
  }
  .dg_write > p {
    font-size: 0.75em;
    padding: 5px 0px;
  }
  .dg_write {
    margin: 34px 0px;
  }
  .write_size {
    .reg_select {
      outline: none;
      margin: 10px 0px 0px;
      border: 1px solid $light_gray6;
      padding: 11px 0px 11px 22px;
      font-size: $f-13;
      background-image: url($path-btn+"btn_spread.svg");
      @include bgOption(auto, 95% center);
      option {
        color: $black;
      }
      &:focus {
        border-color: $purple;
        color: $gray3;
      }
    }
  }
  .dg-write_eq {
    color: $blue;
  }
  .dg-write_wr {
    color: $red;
  }
}

/* wrong hide */
.dg-write_eq_nn,
.dg-write_wr_pw {
  display: block;
}

//text box design
.input_text_box {
  width: 100%;
  margin-top: 1px;
  border: none;
  border-bottom: 1px solid $gray;
  line-height: 1.5;
  margin: 4px 0px 0px;
  padding: 7px 0px 11px;
  font-family: "spoqa";
  font-size: $f-14;
  &:hover,
  &:focus {
    border-color: $purple;
  }
}
.input_text_box_rewrite {
  margin: 10px 0px;
}
.input_text_box_with_btn {
  width: 72%;
}
.dg-tel_countdown {
  margin-left: -3em;
  font-size: 0.75em;
  color: $blue;
}
input::placeholder {
  color: $black;
  opacity: 0.2;
}
.input_btn_with_textbox_wrap {
  position: relative;
  .input_btn_with_textbox_btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 28%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -1.2px;
    font-size: $f-13;
  }
}
.dg_blind + .input_btn_with_textbox_wrap {
  margin-top: 10px;
}
