@import '../../static/stylesheets/Root.scss';

html {
    body {
        .distance-item {
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;
            margin: 0 7.5px;
            &:first-child {
                margin-left: 0;
            }
            width: 104px;
            height: 36px;
            background-color: #ffffff;
            border: 1px solid #e9ebed;
            border-radius: 20px;
            font-size: 14px;
            color: #555555;
            &.on {
                border: solid #222;
                background-color: #222;
                color: #fff;
            }
        }
    }
}

.container {
    .space-list {
        max-height: 200px;
        overflow: hidden;
        overflow-y: scroll;
        .none-list {
            color: #777;
        }
    }
    p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -1.5px;
        color: #999999;
        padding: 15px 0;
    }
    .event-zone {
        border-radius: 15px;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        margin-top: 30px;
        .event-img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .space-zone {
        @extend .event-zone;
        box-shadow: none;

        .event-img {
            overflow: hidden;
        }
    }
    .distance-list {
        display: flex;
        margin: 15px 0;
        margin-bottom: 60px;
    }
    .search {
        position: relative;
        margin-top: 15px;
        input {
            width: 100%;
            height: 50px;
            font-size: 22px;
            background-color: #fff;
            border-bottom: 2px solid #e9ebed;
            transition: border .15s ease-in-out;
            &:focus {
                border-color: #222;
            }
        }
        .search-icon {
            position: absolute;
            right: 0;
        }
    }
}

.non-qna {
    width: 100%;
    height: 100vh;
    .non-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .explain {
            font-size: 1.333rem; // 16px;
            font-weight: 400; // Regular
            color: #222;
            margin-top: 28px;
        }
    }
}
