.image-dialog {
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: #fff;
    font-size: 10px;
    height: 100vh;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        .close {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 14px;
        }
        .title {
            text-align: center;
            width: 100%;
            font-size: 1.333rem; // 16px
        }

    }
    :global(.swiper-container) {
        width: 85%;
        height: 85%;
        :global(.swiper-wrapper) {
            align-items: center;
            height: calc(100vh - 60px);
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    }
    :global(.swiper-pagination-bullet) {
        background: white;
    }
}

