@import '../../static/stylesheets/Root.scss';
.header {
    width: 100%;
    height: $header;
    box-sizing: border-box;
    position: fixed;
    top: 0; left: 0;
    z-index: $level0;
    transition: all 0.15s ease-in;
    .content {
        max-width: $max-width;
        width: 100%; height: 100%;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        .title {
            display: flex;
            width: calc(100% - 80px);
            height: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 17px;
            font-weight: bold;
            text-align: left;
            color: #333;
            margin-left: 48px;
            letter-spacing: -0.5px;
            align-items: center;
        }

    }
}
.headerOff {
    top: 0px;
}
html {
    body {
        .back-btn {
            width: $header;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.tabs {
    margin-top: $header;
    width: 100%;
   .tab-item{
       font-size: 16px;
       color: black;
       width: 50%;
       max-width: none;
   }
}

.description {
    padding: 8px 12px;
    line-height: 1.7;
    overflow-y: scroll;
}
