$blue:#003F8F;
$navy:#003077;
$navy2:#003F8E;
$white:#fff;
$gray:#bebebe;
$gray2:#d1d1d1;
$gray3:#B2B2B2;
$light_gray:#EFEFEF;
$light_gray2:#FAFAFA;
$light_gray3:#F4F4F4;
$light_gray4:#E5E5E5;
$label:#C6CEDC;
$green:#00862F;
$green2:#00863C;
$text:#32323C;
$graytext:#A2A2A2;
$c_btn:#E0E0E0;
$light_green:#02BE56;
$light_green2:#5FB384;
$q:#003E8C;
$black:#343434;
$bg:#F8F8F8;

$f-14:1em;
$f-16:1.14em;
$f-18:1.28em;
$f-21:1.5em;
$f-24:1.71em;
$f-26:1.85em;
