@import '../../static//stylesheets//Root.scss';

.payment-container {
    padding: $padding-side;
    @include container();
    overflow-x: hidden;
    .card-swiper {
        overflow: visible;
        width: 80%;
        :global .swiper-wrapper {
            align-items: center;
        }
        .card-wrapper {
            width: 100%;
            .card-image {
                width: 100%;
                padding: 3px;
                background-color: white;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: transform 0.3s ease-in-out;
                transform: scale(0.9);
            }
            & > .active {
                transform: scale(1);
            }
            .card-info {
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
                button {
                    width: 48px;
                    height: 24px;
                    border: 1px solid #dbdbdb;
                }
            }
            .active {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .card-register {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: #777777;
            min-height: 200px;
            svg {
                margin-bottom: 10px;
            }
        }
    }
    .payment-title {
        font-size: 18px;
        margin-bottom: 17px;
        padding: 8px;
    }
    .type {
        margin-top: 60px;
    }
    .pay-list {
        display: flex;
        justify-content: space-around;
        img {
            padding: 3px;
        }
        .pay-name {
            padding-top: 10px;
            text-align: center;
            font-size: 14px;
        }
    }
}

.checked {
    background-color: #222222 !important;
    border-radius: 18px;
}
