@import '../../../static/stylesheets/Root.scss';

.container{
    @include container($header);
    .data-area{
        padding: $padding;
        padding-bottom: 80px;
        .text{
            font-size: 1.167rem; // 14px;
            font-weight: bold;
            color: #999;
            margin-bottom: 8px;
        }
        .email-wrap{
            margin-bottom: 12px;
            &>input::placeholder{
                font-size: 1.083rem; // 13px;
                font-weight: 400; // Regular
                color: #CCC;
            }
        }
        .subject-wrap{
            margin-bottom: 12px;
            &>input::placeholder{
                font-size: 1.083rem; // 13px;
                font-weight: 400; // Regular
                color: #CCC;
            }
        }
        .question-wrap{
            width: 100%;
            margin-bottom: 40px;
            .input-question{
                padding: 15px 10px;
                width: 100%; min-height: 120px;
                border: none;
                background-color: #F9F9F9;
                resize: none;
                &::placeholder{
                    font-size: 1.167rem; // 14px;
                    font-weight: 400; // Regular
                    color: #CCC;
                }
            }
        }
    }
}

.file-list {
    width: 100%;
    .button{
        width: calc(33.3% - 10px);
        margin: 0 5px;
        margin-bottom: 10px;
        vertical-align: top;
        label{
            border: 1px solid #521919;
            display: inline-block;
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background: url('./plus.svg') no-repeat center; 
        }
    }
    .input-files {
        display: none;
    }
    li{
        width: 33.3%;
        padding: 0 5px;
        margin-bottom: 10px;
        display: inline-block;
        .file-item {
            position: relative;
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #CCC;
            .file-image {
                position: absolute;
                width: 100%; 
                height: 100%;
            }
            .file-delete {
                position: absolute;
                width: 12px; height: 12px;
                padding: 0;margin: 0;
                top: 10px; right: 10px;
                &>span{
                    &>svg{
                        width: 100%; height: 100%;
                        &>path{stroke:#FFF;}
                        &>line{stroke:#FFF;}
                    }
                }
            }
        }
    }
}