/* 
    ----------------- 
        color 
    -----------------
*/

$theme-bg-color: #1b1b38;
$theme-hd-color: #16162d;
$theme-hd-nav-color: rgba(126, 42, 255, 0.3);
$theme-playbar-bg-color: #000000;
$theme-playlist-bg-color: rgba(10, 10, 27, 0.5);
$theme-button01-color: #7e2aff;
$theme-button02-color: #393939;

$red-color: #ff6767;
$blue-color: #6a7eff;

/* 
    ----------------- 
        unit 
    -----------------
*/

$theme-hd-width: 320px;
$theme-playbar-height: 120px;
$theme-playlist-width: 530px;