@import '../../static/stylesheets/Root.scss';
html{
    body{
        .basic-button{
            width: 100%;
            height: 56px;
            background-color: $main-color;
            border-radius: 10px;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            margin: 15px 0;
            font-weight: bold;
            transition: all .3s ease-in;
            &.disable{
                background-color: $disable-color;
            }
        }

        .white{
            background-color: #FFFFFF;
            border: 1px solid #EBEBEB;
            color: #555555;
        }

        .gray{
            background-color: #F6F6F6;
            color: #555555;
        }
    }
}
