
html{
    body{
        .btn{
            .circle-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #EBEBEB;
                width: 44px;
                padding:0;
                height: 44px;
                border-radius: 50px;
                background-color: #fff;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
                &:hover{
                    background-color: #fff;
                }
            
            }
            p{
                text-align: center;
                padding:5px;
                color:#777;
                font-size: 12px;
            }
        }

    }
}