@import '../../static/stylesheets/Root.scss';
html{
    body{
        .confirm-button{
            width: 100%;
            height: 100%;
            background-color: $main-color;
            color:#fff;
            font-size: 13px;
            border-radius: 2px;
            transition: all .3s ease-in;
            &.disable{
                background-color: $disable-color;
            }
        }
    }
}
