@import '../../static/stylesheets/Root.scss';
html {
    body {
        .fixed-button-container {
            position: fixed;
            z-index: $level3;
            width: 100%;
            bottom: 0;
            left: 0;
            .fixed-button-content {
                max-width: $max-width;
                background-color: white;
                padding: 10px 20px;
                margin: 0 auto;
                width: 100%;
                .fixed-button {
                    width: 100%;
                    height: 56px;
                    background-color: $main-color;
                    border-radius: 10px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    font-weight: bold;
                    transition: all 0.3s ease-in;
                    &.disable {
                        background-color: $disable-color;
                    }
                }
            }
        }
    }
}
