.contruct_status_ul{

}

.contruct_status_ul .contruct_status_li{
    padding:1.3em 1em;
    position:relative;
    border-bottom:1px solid #d7d7d7;
}

.contruct_status_ul .contruct_status_li>span.request_date{
    position:absolute;
    top:1.3em;
    right:1em;
    z-index:2;
    font-size:0.8em;
    line-height: 2.29;
    letter-spacing: -0.34px;
    text-align: left;
    color: #adadad;
}

.contruct_status_ul .contruct_status_li>span.request_status{
    display: block;
    width: 74px;
    height: 27px;
    font-size: 0.7em;
    line-height: 2.29;
    letter-spacing: -0.34px;
    text-align: center;
    border-radius: 58px;
    outline: none;
    margin-bottom: 5px;
}

.contruct_status_ul .contruct_status_li>span.request_status.wait{
    color: #007bd2;
    border: solid 1px #007bd2;
    background-color: #ffffff;
}

.contruct_status_ul .contruct_status_li>span.request_status.ok{
    color:#fff;
    border: solid 1px #df4900;
    background-color: #df4900;
}

.contruct_status_ul .contruct_status_li>span.request_status.ing{
    color:#fff;
    border: solid 1px #007bd2;
    background-color: #007bd2;
}

.contruct_status_ul .contruct_status_li>span.request_status.complete{
    color:#fff;
    border: solid 1px #d5dcea;
    background-color: #d5dcea;
}

.contruct_status_ul .contruct_status_li>h2{
    font-size:1.1em;
    font-weight:700;
    line-height: 1.39;
    letter-spacing: -0.56px;
    text-align: left;
    color: #4f5256;
    margin-bottom: 0.3em;
}

.contruct_status_ul .contruct_status_li p.estimate_infor{
    font-size:0.9em;
    line-height: 1.94;
    letter-spacing: -0.4px;
    text-align: left;
    color: #4f5256;
}

.contruct_status_ul .contruct_status_li p.option_infor{
    font-size:0.9em;
    line-height: 1.94;
    letter-spacing: -0.4px;
    text-align: left;
    color: #4f5256;
}

.contruct_status_ul .contruct_status_li p.option_infor span{
    font-weight: 700;
    color: #007bd2;
}

.contruct_status_ul .contruct_status_li a{
    position: absolute;
    bottom: 1.4em;
    right: 1em;
    z-index: 1;
    font-size: 0.9em;
    line-height: 1.77;
    letter-spacing: -0.44px;
    text-align: right;
    color: #007bd2;
    text-decoration: none;
}

.contruct_status_ul .contruct_status_li a i{
    padding-left:0.5em;
}

.non_data{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-top: 33vh;
    text-align: center;
    font-size: 1.1em;
    color: #aaa;
    font-weight: 700;
}