@import '../../static/stylesheets/Root.scss';
html {
    body {
        .parking-item {
            height: 100%;
            text-align: left;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            z-index: $level3;
            display: flex;
            background-color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            .item-img {
                width: 100%;
                padding-top: 38.019169%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #dbdbdb;
            }
            .item-info {
                width: 100%;
                padding: 15px;
                line-height: 1.5;
                .item-name {
                    font-size: 14px;
                    font-weight: 500;
                    color: #555;
                }
                .item-price {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .price {
                        font-size: 20px;
                        color: #222;
                        padding-right: 15px;
                    }
                    .price-to-time {
                        font-size: 12px;
                        color: #999;
                    }
                }
                .item-date {
                    display: flex;
                    align-items: center;
                    .title {
                        font-size: 14px;
                        font-weight: bold;
                        color: #999;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}
.item {
    box-sizing: border-box;
}
html {
    body {
        .swiper {
            transform: translateX(500%);
            transition: all 0.3s ease-in-out;
            max-width: $max-width;
            width: 100%;
            padding: 0 24px;
            border-radius: 5px;
            overflow: hidden;
            box-sizing: border-box;
            position: fixed;
            z-index: $level3;
            bottom: 35px;
            &.view {
                transform: translateX(0%);
            }
        }
        .swiper-slide {
            border-radius: 5px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
}
