/*
    PAGES - 통합검색결과
*/

#dg-product-search-wrapper {
  // 상품리스트 구역
  .l-con-area {
    padding-bottom: 100px;
    .l-grid-group {
      padding-top: 40px;
    }
  }
  // 메인 상품썸네일 별점 정렬
  .dg-clothes-list-card .in-pricedetail ._finalprice {
    b + span{
      margin-right: 0px;
    }
    img, ._rate {
      position: relative;
      top: 2px;
      vertical-align: middle;
    }
  }
}

// 1. 검색결과 알림
.dg-prdct-sch-tit-group {
  padding: 55px 10px 40px;
  text-align: left;
  position: relative;

  .in-title {
    @include fontType01(#{$px-30}em, $weight: bold);

    margin-bottom: 11px;
  }
  .in-text {
    @include fontType01(#{$px-16}em, $gray, 200);
  }
  .in-text b {
    @include fontType01(inherit, $purple, inherit);
  }

  .in-breadcrumb {
    @include position($b: 42px, $r: -8px);
  }
}

// 2. 연관카테고리 그룹
.dg-prdct-sch-related-group {
  margin-bottom: 30px;

  .in-subject {
    border-bottom: 0 !important;
  }
  .l-contents-group {
    padding: 0 8px;
  }
  .rounded-btn-outline {
    margin: 0 3px;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #8a8a8a;
    border-color: #f5f5f5;
    min-width: auto;
  }
  .rounded-btn-outline.active {
    background-color: white;
    border-color: $pink;
    color: $pink;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  }
}

.filter-checkbox:checked + label {
  background-color: #333333;
  color: white;
}
