/*
    COMPONENT - donggle clothes history component
*/

// donggle about order number label
.dg-about-odnum-label {
  @include fontType01(#{$px-13}em);
  padding: 4px 0;
  min-height: 30px;

  dt {
    @include inlineBlockStyle(middle);
  }

  dd {
    @include fontType01(inherit, #787878, 200);
    @include fontType02(0.2px);
    @include inlineBlockStyle(middle);

    padding: 0 10px 0 5px;
  }
  .rounded-btn-outline {
    @include fontType01(#{$px-13}em);

    border-color: #c8c8c8;
    height: 22px;
    padding: 0 10px;
  }
}

// donggle final price label
.dg-final-price-label {
  border-bottom: 6px solid $profill_bd;
  padding: 12px 10px 12px;
  text-align: right;

  span {
    @include fontType01(#{$px-13}em, $color: #787878);
    font-weight: 300;
  }

  span b {
    padding: 0 3px 0 5px;
    color: #333333;
    font-weight: 600;
  }

  strong {
    color: $purple;
    padding: 0 10px;
  }

  ._point_size_pp {
    @include fontType01(#{$px-18}rem, $color: $purple);
  }

  ._point_size {
    @include fontType01(#{$px-15}rem);
  }
}

// donggle 주문내역조회 / 환불내역조회할때 조회하는 필터그룹
.dg-filter-inquiry-group {
  background-color: #fafafa;
  padding: 20px 20px 15px;
  border: 1px solid $light_gray6;

  .in-sorting {
    margin-bottom: 12px;
    width: 100%;
    background-color: $white;
  }

  .in-sorting ._type {
    border-color: #c8c8c8;
  }

  .in-sorting ._type .word {
    @include hoverActiveFont(#787878);
    @include fontType01(14px, $weight: 100, $color: #787878);

    padding: 0 10px;
  }

  .in-sorting ._type:first-child .word {
    padding-left: 0;
  }

  .in-sorting ._type.active .word {
    color: #333;
    font-weight: 400;
  }

  .in-bottom-group {
    border-top: 1px solid $light_gray6;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;

    .square-btn-outline {
      @include inlineBlockStyle(middle);
      @include fontType01(14px, $color: #787878);
      height: 40px;
      border-color: #c8c8c8;
    }

    .square-btn-outline.active {
      background-color: #333;
      border-color: #333;
      color: white;
      -webkit-text-shadow: none;
      -webkit-text-stroke: 0;
    }

    ._btns_group {
      @include inlineBlockStyle(middle);
    }

    ._btns_group .square-btn-outline {
      float: left;
      margin: -1px;
    }

    ._input_group {
      @include inlineBlockStyle(middle);
    }

    ._input_group .square-btn-outline {
      @include hoverActiveBg(#676767);

      background-color: #676767;
      color: white;
      -webkit-text-shadow: none;
      -webkit-text-stroke: 0;
      border-color: #333;
      margin-left: 8px;
    }

    ._input_group label {
      @include fontType01(#{$px-13}em, $weight: 200, $color: #787878);
      @include inlineBlockStyle(middle);

      padding-right: 5px;
    }

    ._mid {
      padding: 0 3px;
      @include fontType01(#{$px-13}em, $weight: 100, $color: #787878);
    }

    .period-input {
      @include fontType01(#{$px-13}em);
      @include bgimg(url($path-mobile_btn+"btn_calendar_pk.svg"));
      @include bgOption($size: 17px, $position: calc(100% - 10px) 50%);
      @include inputInit(
        $bd: 1px solid #c8c8c8,
        $pd: 0 35px 0 10px,
        $pointer: auto,
        $focus-bd: #333
      );
      @include inlineBlockStyle(middle);

      height: 40px;
      width: 150px;
    }
  }
}

.vdp-datepicker {
  > div {
    > input {
      @include fontType01(#{$px-13}em);
      @include bgimg(url($path-mobile_btn+"btn_calendar_pk.svg"));
      @include bgOption($size: 17px, $position: calc(100% - 10px) 50%);
      @include inputInit($pd: 0 35px 0 10px, $pointer: auto, $focus-bd: #333);
      @include inlineBlockStyle(middle);

      height: 40px;
      width: 100%;
    }
  }
}

.dg-clothes-history-card {
  .dg-input-checkbox_label {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .dg-clothes-thumbnail {
    width: 70px;
    height: 70px;
    margin-left: 28px;

    .in-image {
      border-radius: 0;
    }
  }
  .in-content .inner-box {
    width: 100%;
    position: relative;
  }
  .inner-wrap {
    padding: 15px 20px 15px 10px;
    border-bottom: 1px solid $light_gray2;
  }
  @media all and (max-width: 576px){
    .inner-wrap{
      padding: 8px 15px 5px 15px;
    }
  }
  .in-content {
    margin-top: -1px;

    ._informations {
      @include fontType01(#{$px-13}em);

      margin-bottom: 13px;
    }
    ._informations li {
      @include inlineBlockStyle(middle);

      line-height: 1;
    }
    ._informations li:first-child {
      padding-right: 10px;
      border-right: 1px solid $light_gray6;
    }
    ._informations li a {
      @include fontType01(inherit, #787878, 200);
    }
    ._informations li a:before {
      @include inlineBlockStyle(middle);
      @include fontType01(#{$px-13}em, $black, 400);

      position: relative;
      top: -1px;
    }
    ._informations ._sellername a:before {
      @include makePseudo("스토어명");

      padding-left: 0;
      padding-right: 8px;
    }
    ._informations ._prdtnum a:before {
      @include makePseudo("품번");

      padding: 0 8px;
    }
    ._name {
      @include fontType01(#{$px-15}em, $weight: 400);

      margin: 8px 0 10px;
      padding: 0px 30px;
      line-height: 1.5;
    }
    ._options {
      border-bottom: 1px solid $light_gray6;
      margin: 14px 0 10px;
    }
    ._op_category {
      position: relative;
      padding-left: 2.5em;
    }
    ._op_tit {
      @include position($t: 4px, $l: 0);
      @include fontType01(#{$px-11}em, $weight: 400);
    }
    ._op_list {
      @include fontType01(#{$px-12}em, $weight: 100, $color: #787878);
      @include fontType02(0, 1.5);

      margin-bottom: 2px;
    }
    ._op_list span {
      @include makeAfter("/") {
        padding: 0 1px 0 4px;
      }
    }
    ._op_list span:last-child {
      &:after {
        display: none;
      }
    }
    ._amount {
      padding-left: 2.5em;
    }
    ._amount span {
      @include fontType01(#{$px-12}em, $weight: 100, $color: #787878);
    }
    ._amount b {
      @include fontType01(inherit, $weight: bold, $color: black);
      padding-right: 3px;
    }
    ._price {
      padding: 10px 0px;
      border-bottom: 1px solid $light_gray6;
    }
    ._price_wrap {
      padding: 5px 0 2px; 
    }
    ._price span {
      @include fontType01(#{$px-13}em, $weight: 400, $color: $black);
      @include inlineBlockStyle(middle);
    }
    ._price b {
      @include fontType01(inherit, $weight: bold, $color: black);
      @include fontType02(0, 1);

      padding-left: 6px;
    }
    ._price ._sale_badge {
      width: 61px;
      height: 22px;
      line-height: 22px;
      border-radius: 11px;
      background-color: $pink;
      text-align: center;
      font-size: $f-12;
      color: $white;
      -webkit-text-shadow: none;
      -webkit-text-stroke: 0;
    }
    ._sale_price,
    ._total_price {
      margin: 10px 0px;
      font-size: $f-13;
      color: $gray;
      font-weight: 300;
    }
    ._sale_price b {
      float: right;
      font-weight: 600;
      color: $black;
    }
    ._total_price b {
      float: right;
      font-size: $px-18 + rem;
      font-weight: 600;
      color: $purple;

      position: relative;
      top: -3px;
    }
    ._btn_list .rounded-btn-outline {
      @include fontType01(#{$px-15}em, $color: #787878);

      border-color: #c8c8c8;
      padding: 0 14px;
      margin-right: 5px;

      &:hover {
        color: #333;
        border-color: #333;
      }
    }
    ._order_status {
      @include position($t: 0, $r: 0);
      @include fontType01(#{$px-13}em, $weight: 400, $color: white);

      cursor: default;
      background-color: #333333;
      height: 26px;
      line-height: 26px;
      padding: 0 17px;
    }

    .order_request_label {
      display: block;
      margin-left: 0;
      border-top: 1px solid $light_gray6;
      padding: 10px 0px;
      background-image: url($path-btn+"btn_spread.svg");
      @include bgOption(auto, 9em center);
      font-size: $f-13;
      color: $gray;
      user-select: none;
    }
    .order_request:checked ~ .order_request_label {
      background-image: url($path-btn+"btn_fold.svg");
    }
    .order_request:checked ~ ._ask_textarea {
      display: block;
    }
    ._ask_textarea {
      display: none;
      margin-left: 0;

      @include fontType01(#{$px-13}rem, $weight: 300, $color: #c8c8c8);

      text-align: right;
      user-select: none;
    }
    ._ask_textarea textarea {
      @include fontType01($f-13);
      @include fontType02(-0.2px, 1.7);

      width: 100%;
      resize: none;
      min-height: 78px;
      border: 1px solid $light_gray6;
      padding: 10px;
      margin-bottom: 7px;
      border-radius: 0;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;

      &:focus {
        border-color: #333;
      }
    }
    ._ask_textarea textarea::placeholder {
      color: #c8c8c8;
      font-weight: 400;
    }
    ._ask_textarea > span {
      font-size: $f-11;
    }
    ._del_btn {
      @include position($r: -10px, $t: -10px);
      @include buttonInit(
        $bg: white,
        $bd-radius: 50%,
        $pd: 10px,
        $pointer: pointer
      );
    }
  }
}

.dg-clothes-history-card.type-cart {
  .in-content {
    padding-bottom: 2px;
    ._price {
      margin-bottom: 0;
      border-bottom: 0;
    }
    ._op_category {
      padding-left: 0;
    }
    ._op_tit {
      @include position(relative, 0, 0);

      margin-bottom: 5px;
    }
    ._tit_span {
      @include inlineBlockStyle(middle);
      margin-right: 8px;
    }
    ._edit_btn_wrap {
      margin: 14px 0px 19px 0px;
    }
    ._edit_btn {
      @include fontType01($f-13, $black, 300);
      width: 100%;
      height: 42px;
      line-height: 42px;
      margin: 0px;
      border: 0px none;
      border-radius: 10px 0px 0px 10px;
      text-align: Center;
      min-width: unset;
      line-height: 1;
      border: 1px solid $light_gray2;
      border-radius: 10px;
    }
    ._cu_btn {
      border: 1px solid $light_gray2;
      border-radius: 10px;
      -webkit-tap-highlight-color: transparent;
    }
    ._amount {
      padding-left: 0;
    }
  }
}

.dg-clothes-history-card.type-detail {
  .in-content {
    ._op_category {
      padding-left: 0;
    }
    ._op_tit {
      @include position(relative, 0, 0);

      margin-bottom: 7px;
    }
    ._op_tit span {
      @include inlineBlockStyle(middle);
      margin-right: 8px;
    }
    ._amount {
      padding-left: 0;
    }

    ._options {
      display: flex;
      padding-bottom: 12px;
      margin-bottom: 0;
    }
    ._options ._in_col {
      width: 80%;
      padding-left: 10px;
    }
    ._cp_status {
      position: relative;
    }
    ._cp_tit {
      @include fontType01(#{$px-11}em, $weight: 400);

      margin-bottom: 7px;
    }
    ._cp_list {
      .nothing {
        color: #c8c8c8;
      }
    }
    ._cp_list span {
      @include inlineBlockStyle;
      @include fontType01(#{$px-13}em);
      @include fontType02(0, 1.5);
      @include ellipse(2, 19px);
    }
    ._price {
      margin-bottom: 12px;
    }
    ._price.mb-0 {
      margin-bottom: 0;
    }
    ._etc_ment {
      width: 100%;
      padding-bottom: 5px;
    }
    ._etc_ment_tit {
      @include fontType01(#{$px-11}em, $weight: 400);

      margin-bottom: 9px;
    }
    ._etc_ment_list {
      @include fontType01(#{$px-13}em, $weight: 300, $color: #787878);
    }
  }
}

.dg-clothes-history-card.type-cancel {
  .in-content {
    padding-bottom: 2px;
    ._price {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
