@import '../../static/stylesheets/Root.scss';

.coupon-container {
    @include container();
    .tabs {
        .tab {
            min-width: 50px;
            font-size: 16px;
            font-weight: bold;
            color: #aaaaaa;
        }
        :global .Mui-selected {
            color: #222222;
        }
    }

    .order {
        width: 100%;
        height: 36px;
        background-color: #f7f8f9;
        .order-select {
            height: 100%;
            line-height: 36px;
            float: right;
            margin-right: 24px;
            select {
                background-image: initial;
                margin-right: 4px;
            }
            svg {
                position: relative;
                top: -2px;
            }
        }
    }

    .coupon-input {
        position: fixed;
        z-index: $level0;
        width: 75px;
        height: 48px;
        top: 0;
        right: 0;
    }
}
