@import '../../static/stylesheets/Root.scss';

.parking-payment-container {
    @include container($pd-top);
    .parking-payment-area {
        padding: $padding-side;
        word-break: keep-all;
    }
    padding-bottom: 140px;
    .parking-payment-wrapper {
        position: relative;
        width: 100%;
        margin-top: 41px;
        margin-bottom: 14px;
        .title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 13px;
        }

        .coupon {
            width: 100%;
            height: 48px;
            border: 1px solid #ebebeb;
            padding-left: 10px;
            font-size: 15px;
            line-height: 48px;
            justify-content: start;
            background: url('../../static/asset/svg/select.svg') no-repeat
                calc(100% - 8px) 50% #fff;
        }

        .use-point {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px;
            margin-bottom: 40px;
            .point {
                font-size: 14px;
                color: #777777;
                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: #555555;
                }
            }
            .confirm-button {
                width: 80px;
                height: 28px;
            }
        }

        .payment {
            padding-left: 10px;
            width: 100%;
            height: 48px;
            border: 1px solid #ebebeb;
            font-size: 1.25rem;
            justify-content: flex-start;
            background: url('../../static/asset/svg/arrow.svg') no-repeat
                calc(100% - 8px) 50% #fff;
        }
    }
    .final-payment {
        height: 213px;
        background-color: #f7f8f9;
        padding: 28px 24px;
        .total-payment {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 18px;
            margin-bottom: 14px;
            border-bottom: 1px solid #ebebeb;
        }
        .payment {
            display: flex;
            justify-content: space-between;
            font-size: 17px;
            font-weight: bold;
            color: #555555;
            margin-bottom: 6px;
        }
    }
    .bar {
        width: 100%;
        height: 16px;
        background-color: #f4f4f4;
    }
}
