@import '../static/stylesheets/Root.scss';

.container{
    @include container($header);
    .img-wrap{
        display: flex;
        justify-content: center;
        width: 100%; height: 100%;
        margin-top: 72px;
    }
    .code-wrap{
        display: flex;
        justify-content: center;
        width: 100%; height: 100%;
        margin-top: 40px;
        & > span{
            font-size: 2.167rem; // 26px;
            font-weight: bold;
            color: #333;
        }
    }
    .text-wrap{
        display: flex;
        justify-content: center;
        width: 100%; height: 100%;
        margin-top: 12px;
        & > span{
            font-size: 1.333rem; // 16px;
            font-weight: 400; // Regular
            color: #777;
        }
    }
}