@import '../../../static/stylesheets/Root.scss';

.container {
    @include container($pd-top);

    .card-img {
        width: 100%;
        min-height: 120px;
        padding-top: 35%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .area {
        padding: $padding;

        .rental-comment {
            font-size: 1.16rem;
            color: #777777;
            display: inline-block;

            .rental-date {
                font-size: 1.16rem;
                font-weight: bold;
                color: #777777;
                margin-left: 10px;
            }
        }

        .title-wrapper{
            width: 100%;
            position: relative;

            .title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 8px;
                width: 60%;
            }

            :global(.rating) {
                position: absolute;
                top: 4px;
                right: 0;
            }
        }

        .date {
            font-size: 1rem;
            color: #777777;

            & > hr {
                border-bottom: 1px solid #e9ebed;
                padding-top: 20px;
                margin-bottom: 20px;
            }
        }

        .body {
            font-size: 1.16rem;
            color: #333333;
            word-break: keep-all;
            margin-bottom: 40px;
        }

        .button-area {
            padding: 0 16px 28px;

            button {
                width: 64px;
                height: 28px;
                background-color: #e9ebed;
                border-radius: 14px;
                margin-right: 14px;
                color: #777777;
                float: right;
            }

            & > button:first-child {
                margin-right: 0;
            }
        }

        .comment-none-wrapper {
            height: 113px;
            border-bottom: 1px solid #e9ebed;

            .comment-none {
                font-size: 1.16rem;
                color: #cccccc;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .comment-item {
            margin-top: 26px;
            border-bottom: 1px solid #F0F0F0;

            & > img {
                width: 28px; height: 28px;
                overflow: hidden;
                border-radius: 50%;
                display: inline-block;
                margin-right: 8px;
            }

            .user-area {
                display: inline-block;
                margin-bottom: 10px;

                .user-id {
                    font-size: 1.16rem;
                    color: #555555;
                }

                .date {
                    font-size: 1rem;
                    color: #999999;
                }
            }

            .comment-body{
                margin-left: 36px;
                margin-bottom: 24px;
                font-size: 1.33rem;
                color: #222222;
                word-break: keep-all;
            }
        }

        & > input {
            border: 1px solid #cccccc;
            border-radius: 2px;
            height: 48px;
            padding: 12px;
            width: calc(100% - 92px);
            margin-top: 16px;
            margin-right: 12px;
            vertical-align: bottom;
            transition: border .15s ease-in-out;
            &:focus {
                border-color: #222;
            }
        }

        & > button {
            width: 80px;
            height: 48px;
            background-color: #222222;
            color: white;
            border-radius: 2px;
        }
        .not-user {
            font-size: 1.167rem;
            font-weight: 500;
            color: #777;
            text-align: center;
            margin-top: 40px;
        }
    }

    .bar {
        width: 100%;
        height: 16px;
        background-color: #f4f4f4;
    }
}
