/*! 
    typography.scss | 19-10-23
    ==========================================================================
 */

$assetPath : '';

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('/assets/fonts/SpoqaHanSansBold.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansBold.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('/assets/fonts/SpoqaHanSansRegular.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansRegular.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('/assets/fonts/SpoqaHanSansLight.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansLight.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('/assets/fonts/SpoqaHanSansThin.woff2') format('woff2'),
    url('/assets/fonts/SpoqaHanSansThin.woff') format('woff'),
    url('/assets/fonts/SpoqaHanSansThin.ttf') format('truetype');
}

