#Server
PORT=8080

#Infura(ENDPOINT)
INFURA_MAINNET=
INFURA_TESTNET=

#Local Database
DB_HOST_LOCAL=
DB_NAME_LOCAL=
DB_USER_LOCAL=
DB_PASS_LOCAL=

#Ethereum(Central)
CENTRAL=true
ADMIN_ADDRESS=
ADMIN_PRIVATE=
MINIMUM_ETHER_AMOUNT_TO_DEPOSIT=0.01
MINIMUM_TOKEN_AMOUNT_TO_DEPOSIT=0.00000001

#Ethereum(Common)
WITHDRAW_CONFIRM_COUNT=1
DEPOSIT_CONFIRM_COUNT=6
BALANCE_CHECK_INTERVAL=60;
REQUEST_CHECK_INTERVAL=15;
CONFIRM_CHECK_INTERVAL=60;
BALANCE_CHECK_CALL_TIMEOUT=15;
BALANCE_CHECK_CALL_TIMEWAIT=1;