<!DOCTYPE html>
<html>
    <head>
        <meta name="msapplication-TileColor" content="#212121">
        <meta name="theme-color" content="#212121">
        <title>Station Space</title>
    </head>
    <body>
        <h1>Station Space</h1>
        <p>Welcome to Station Space</p>
    </body>
</html>
