html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Spoqa";
  src: url(/landing/font/Spoqa_Han_Sans_Regular.woff) format('woff'),
  url(/landing/font/Spoqa_Han_Sans_Regular.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "Spoqa";
  src: url(/landing/font/Spoqa_Han_Sans_Bold.woff) format('woff'),
  url(/landing/font/Spoqa_Han_Sans_Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Spoqa";
  src: url(/landing/font/Spoqa_Han_Sans_Light.woff) format('woff'),
  url(/landing/font/Spoqa_Han_Sans_Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Spoqa";
  src: url(/landing/font/Spoqa_Han_Sans_Thin.woff) format('woff'),
  url(/landing/font/Spoqa_Han_Sans_Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "helvetica";
  src: url(/landing/font/helvetica_nene_lt_pro_85_heavy.otf) format('otf');
  font-weight: 700;
}
@font-face {
  font-family: "helvetica";
  src: url(/landing/font/helvetica_nene_lt_pro_65_midium.otf) format('otf');
  font-weight: 500;
}
@font-face {
  font-family: "helvetica";
  src: url(/landing/font/helvetica_nene_lt_pro_55_roman.otf) format('otf');
  font-weight: 300;
}

body {
  font-family: 'spoqa', 'Arial', 'Helvetica', 'sans-serif';
  word-break: keep-all;
  font-size: 16px;
  color: #333;
}

h2{
  font-size:5em;
  font-weight:300;
  letter-spacing:-3px;
}

h2 strong{
    font-weight:500;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input, textarea {
  outline: 0px none;
  border: 0px none;
  padding: 5px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ol, ul {
  list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}
/*common class*/
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.blind {
  position: absolute;
  top: 0px;
  left: -9999px;
}