@import '../../../static/stylesheets/Root.scss';

.parking-enroll-container {
    @include container($pd-top);
    padding-bottom: 133px;
    .parking-enroll-area {
        padding: $padding-side;
    }
    .bar {
        width: 100%;
        height: 16px;
        background-color: #f4f4f4;
    }
    .title {
        margin: 29px 0px;
        font-size: 16px;
        font-weight: bold;
    }

    .select-type{
        width: 100%;
        height: 48px;
        color: #222222;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #dbdbdb;
        margin-bottom: 12px;
        padding: .8em .5em;
        option{
            text-align: center;
        }
    }

    .per-price {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 17px;
        .per {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            width: 96px;
            bottom: 6px;
        }
        .price {
            display: flex;
            align-items: center;
            width: 100%;
            span {
                position: relative;
                font-size: 16px;
                font-weight: 500;
                margin-left: 10px;
                bottom: 6px;
            }
        }
    }
    .schedule-wrapper {
        margin-bottom: 18px;
        .schedule-title {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .select-time {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .select-list {
                margin-right: 10px;
                height: 48px;
                border: 1px solid #ebebeb;
                line-height: 48px;
                font-size: 16px;
                padding: 0 12px;
                width: 100%;
                &:first-child {
                    width: 150%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .important-wrapper {
            margin-top: 29px;
            .important {
                display: flex;
                align-items: center;
                padding: 3px 0px;
                .explain {
                    margin-left: 5px;
                    line-height: 16px;
                }
            }
        }
    }

    .button {
        width: 100%;
        height: 48px;
        text-align: center;
        color: #222222;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #dbdbdb;
        margin-bottom: 12px;
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            .plus {
                position: relative;
                bottom: 2px;
                font-size: 24px;
                font-weight: bold;
                margin-right: 8px;
            }
        }
    }
    .input-files {
        display: none;
    }
    .file-list {
        display: flex;
        overflow-x: auto;
        padding-top: 8px;
        .file-item {
            position: relative;
            display: inline-block;
            width: 88px;
            height: 88px;
            margin-left: 10px;
            .file-image {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .file-delete {
                position: absolute;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                top: -6px;
                right: -6px;
                background-color: #fff;
                border: solid 1px #DBDBDB;
            }
        }
    }
}
