$max-width: 768px;
$min-width: 320px;
$min-height: 100vh;
$font-size: 12px;
$mg-top: 48px;
$pd-top: 48px;
$header: 48px;
$padding: 24px;
$padding-side: 0 24px;
$main-color:#222222;
$disable-color: #DBDBDB;
$level0 : 5000; //header
$level1 : 3000; //modal 
$level2 : 2800; //dim
$level3 : 2500; //button
$level4 : 2400;

// 모바일 컨테이너 믹스인
@mixin container($pd-top :48px) {
    max-width: $max-width;
    min-width: $min-width;
    min-height: $min-height;
    margin: 0 auto;
    padding-top: $pd-top;
    width: 100%;
    position: relative;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
}

