
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.form-control:focus {

  border-color: rgba(255, 220, 0, 1);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 220, 0, 0.3);
}
