@mixin center($width){
    max-width:$width;
    margin:0px auto;
}
@mixin btn_form($color,$bgcolor,$round) {
    display:block;
    border-radius:$round;
    background-color:$bgcolor;
    color:$color;
}
@mixin bgimg($img){
    background-image:$img;
    background-repeat:no-repeat;
    background-size:cover;
}
@mixin bgOption($size,$position){
    background-repeat:no-repeat;
    background-size:$size;
    background-position:$position;
}
@mixin anime($name,$du,$del) {
    animation-name:$name;
    animation-duration:$du;
    animation-delay:$del;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
@mixin gra_bg{
    background: #0070ff;
    background: -moz-linear-gradient(-30deg, #0070ff 0%, #02be56 100%);
    background: -webkit-linear-gradient(-30deg, #0070ff 0%,#02be56 100%);
    background: linear-gradient(150deg, #0070ff 0%,#02be56 100%);
}
