@import '../../../static/stylesheets/Root.scss';

.container{
    padding: $padding;

    @include container($pd-top);

    .list-item{
        display: block;
        // height: 120px;
        border: 1px solid #E9EBED;
        padding: 16px 20px 20px;
        position: relative;
        margin-bottom: 20px;

        .title{
            font-size: 1.5rem;
            font-weight: bold;
            color: #222222;
            margin-bottom: 5px;
            width: 80%;
        }

        .price{
            font-size: 1.66rem;
            font-weight: bold;
            color: #777777;
            margin-bottom: 12px;
        }

        .date{
            font-size: 1rem;
            color: #999999;
        }

        .status{
            width: 64px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }

    .list-item:first-child{
        margin-top: 32px;
    }
}

.non-qna{
    width: 100%;
    height: calc(100vh - 96px - 56px);
    .non-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        // height: calc(100% - 96px);
        .explain{
            font-size: 1.333rem; // 16px;
            font-weight: 400; // Regular
            color: #222;
            margin-top: 28px;
        }

    }
}

.using{
    border: 1px solid #FFE100;
}

.wait{
    border: 1px solid #222;
}

.finish{
    border: 1px solid #999;
    color: #999;
}

.cancel{
    border: 1px solid #953120;
    color: #953120;
}