#Server
PORT=9601

#Scan Server
HOST=localhost
PORT=9600

#Exchange Database
DB_HOST_EXCHANGE=
DB_USER_EXCHANGE=
DB_NAME_EXCHANGE=
DB_PASS_EXCHANGE=

#API Keys
BITHUMB_API_KEY_A=
BITHUMB_API_KEY_B=
COINONE_ACCESS_TOKEN=
COINONE_SECRET_TOKEN=
UPBIT_ACCESS_KEY=
UPBIT_SECRET_KEY=
