APP_NAME=spowide
APP_ENV=local
APP_KEY=base64:wjYGwY1L5ozrpb6KmkOK42FDsrFu7P7AZAtpa9yss9E=
APP_DEBUG=false
APP_URL=http://example.local

LOG_CHANNEL=stack

DB_CONNECTION=mysql

DB_HOST=
DB_PORT=
DB_DATABASE=html
DB_USERNAME=
DB_PASSWORD=

DB_HOST2=
DB_PORT2=
DB_DATABASE2=html_read
DB_USERNAME2=
DB_PASSWORD2=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

DIRECTSEND_USERNAME=
DIRECTSEND_KEY=
DIRECTSEND_SENDFROM=
DIRECTSEND_SENDFROM_NAME=

ETHERSCAN_ADMIN_ADDRESS=
ETHERSCAN_ADMIN_KEY=

SETTLEBANK_ENCREPT_KEY=
SETTLEBANK_VERIFY_KEY=
